.nav-bar{
    width: 100%; height: 100px; position: sticky; top: 0;
    display: flex; flex-flow: row nowrap; gap: 92px;
    justify-content: center; align-items: center; padding: 10px;
}
.nav-bar .nav-left{
    display: flex; flex-flow: row nowrap; gap: 30px;
    justify-content: center; align-items: center;
}
.nav-bar .nav-left .left-left{
    display: flex; flex-flow: row nowrap; gap: 20px;
    justify-content: center; align-items: center;
}
.nav-bar .nav-left .left-left img{ min-width: 167; }
.nav-bar .nav-left .left-left .search-box{
    width: 367px; height: 44px; border: 1px solid #D0D5DD;
    border-radius: 8px; position: relative;
}
.nav-bar .nav-left .left-left .search-box input{
    width: 100%; height: 100%; position: absolute; left: 0; top: 0;
    border: 0; outline: 0; border-radius: 8px; padding: 10px 10px 10px 42px;
    font-size: 16px; font-weight: 400; color: #667085;
}
.nav-bar .nav-left .left-left .search-box>ion-icon{
    font-size: 20px; color: #98A2B3; position: absolute; left: 13px; top: 11px;
}
.nav-bar .nav-left .left-left .search-box button{
    width: 110px; height: 36px; position: absolute; right: 3px; top: 3px;
    border-radius: 8px; border: 0; background-color: #F9F5FF;
    font-size: 14px; color: #7F56D9; font-weight: 500;
    display: flex; flex-flow: row nowrap; gap: 8px; cursor: pointer;
    justify-content: center; align-items: center; transition: all 0.3s;
}
.nav-bar .nav-left .left-left .search-box button:hover{
    background-color: #7F56D9; color: #F9F5FF;
}
.nav-bar .nav-left .left-left .search-box button>ion-icon{font-size: 20px;}
.nav-bar .nav-left .action-buttons{
    display: flex; flex-flow: row nowrap; gap: 25px;
}
.nav-bar .nav-left .action-buttons button{
    font-size: 16px; font-weight: 400; background-color: transparent;
    color: #101828; border: 0; cursor: pointer; transition: all 0.3s;
}
.nav-bar .nav-left .action-buttons button:hover{
    color: #7F56D9; scale: 1.03;
}
.nav-bar .register{
    display: flex; flex-flow: row nowrap; gap: 20px;
}
.nav-bar .register .signin{
    color: #101828; background-color: transparent; border: 0;
    font-size: 16px; font-weight: 400; cursor: pointer; transition: all 0.3s;
}
.nav-bar .register .signin:hover{
    color: #7F56D9; scale: 1.03;
}
.nav-bar .register .signup{
    padding: 10px 16px; border-radius: 8px; border: 0; cursor: pointer;
    background-color: #7F56D9; box-shadow: 0 0 0 4px #F4EBFF; color: #FFFFFF;
    font-size: 14px; font-weight: 600; transition: all 0.3s;
}
.nav-bar .register .signup:hover{ color: #7F56D9; background-color: #F4EBFF; }
.nav-bar .responsive-icons{
    display: flex; flex-flow: row nowrap; gap: 20px;
    justify-content: center; align-items: center;
}
.nav-bar .responsive-icons .menu, .nav-bar .responsive-icons .search-icon{
    display: none; width: 40px; height: 40px; cursor: pointer;
    flex-flow: row nowrap; justify-content: center; align-items: center;
    font-size: 30px; color: #7F56D9;
}
.nav-bar .responsive-icons .search-icon{ font-size: 26px; }

@media only screen and (max-width: 1320px) {
    .nav-bar .nav-left .action-buttons{ display: none; }
    .nav-bar .register{ display: none; }
    .nav-bar .responsive-icons .menu{display: flex;}
}
@media only screen and (max-width: 720px) {
    .nav-bar .nav-left .left-left .search-box{ display: none; }
    .nav-bar .responsive-icons .search-icon{display: flex;}
}